@import url('https://fonts.googleapis.com/css?family=Advent+Pro:200|Poiret+One');


.footer {
  position: fixed;
  bottom: 10px;
  right: 20px;
  font-size: 25px;
  color: white;
  font-family: 'Poiret One', cursive;
}

a, a:link, a:hover, a:visited {
  color: white;
}

.footer i {
  color: red;
}
